page-login {
  .login {
    &__login-btn {
      border-radius: 0;
      width: 300px;
    }

    &__login-fields {
      margin-top: 70px;
    }

    &__login-action {
      margin-top: 80px;
    }
  }
}
