<ion-grid class="code">
  <ion-row>
    <ion-col>
      <p padding class="registration__instruction">Enter verfication in 59s</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="verification-container">
        <input class="verification-input" type="text"> <span>•</span>
        <input class="verification-input" type="text"> <span>•</span>
        <input class="verification-input" type="text"> <span>•</span>
        <input class="verification-input" type="text">
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid class="verification-actions">
  <ion-row justify-content-center>
    <button (click)="nextStep()" ion-button class="verify">Verify</button>
    <button ion-button color="light" class="resend">Resend Verification</button>
  </ion-row>
</ion-grid>
