<ion-grid class="registration__adb-container">
  <ion-row>
    <p class="registration__instruction">Enter verfication in 59s</p>
    <div class="verification-container">
      <input class="verification-input" type="text"> <span>•</span>
      <input class="verification-input" type="text"> <span>•</span>
      <input class="verification-input" type="text"> <span>•</span>
      <input class="verification-input" type="text">
    </div>
  </ion-row>
</ion-grid>
<ion-grid class="verification-actions">
  <ion-row>
    <button ion-button class="verify">Verify</button>
    <button ion-button color="light" class="next-step">Resend Verification</button>
  </ion-row>
</ion-grid>
